{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Robot',sans-serif;
}
.container{
    width: 25%;

}
.border{
    box-shadow: 0px 0px 3px cornflower blue;
    padding: 30px;
    width: 100%;
    margin-right: 10px;
    min-height: 500px;

}
.center{
    text-align: center;

}

.search{
    float: left;
    width: 100%;
    margin-bottom: 29x;
    padding: 10px 20px;

}

.search .input{
    float: left;
    width: 100%;
    padding: 10px;
}
.left-side{

    padding: 20px;
    width: 40%;
    min-height: 500px;
    float: left;
}
skills{
    border:2px solid rgb(red, green, blue)
    padding: 10px;
    margin: 5px;
    color: #150000;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    cursor: pointer;
 
}

.skill: hover{
    background-color:Yellow;
    color:whitesmoke;
}
.center-side{

    padding: 20px;
    width: 20%;
    min-height: 500px;
    float: left;

}
.right-side{
    float: left;
    padding: 20px;

    width: 40%;
    min-height: 500px;

}

.buttons{

    margin: 40px;
    margin-top: 60px;
    padding: 60px 40px;

}
.button-left{
    color: orange;
    padding: 10px;

}
.button-left: hover{
    color: rgb(243, 140, 122)
}

.button-right{
    color: orange;
    padding: 10px;
}

.button-right: hover{
    color: rgb(243, 140, 122);
}